.registration {   
    background-size: cover;
    background-position: center;
    background-image: 
        linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .4)),
        url('../../../../images/background.png');
}

.registration__content {
    max-width: 900px;
    width: 900px;
}

.registration,
.registration__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registration__left,
.registration__rght {
    flex: 1;
}